<div class="container">
    <form class="change-password-form" (ngSubmit)="onChangePassword()">
        <h2>Change Password</h2>
        <br>
        <div class="input-group">
            <input type="password" #oldpassword="ngModel" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Enter old password" required />
            <!-- //<em class="error" *ngIf="oldpassword.invalid && oldpassword.touched">Old-Password is required</em> -->
        </div>
        <div class="input-group">
            <input type="password" #newpassword="ngModel" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required />
            <!-- <em class="error" *ngIf="newpassword.invalid && newpassword.touched">New-Password is required</em> -->
        </div>

        <div *ngIf="errorMessage" class="passwordChangeError">{{ errorMessage }}</div>
        
        <div *ngIf="successMessage" class="passwordChangeSuccess">{{ successMessage }}</div>
        
        <div class="button">
            <button type="submit">Change Password</button>
        </div>
    </form>
</div>
