<div class="container">
    <form class="change-password-form" (ngSubmit)="changePassword()">
        <h2>Change Password</h2>
        <br>
        <input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Enter old password" required />
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required />
        <div class="button">
            <button type="submit">Change Password</button>
        </div>
    </form>
</div>

<div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
</div>
