<div class="container">
    <div class="register-box">
        <div class="register-header">
            <h2 class="register-title">Register</h2>
            <p class="sub-text">buy some items</p>
        </div>

        <form #signInForm="ngForm" class="form" (ngSubmit)="register()">
            <div class="input-group">
                <input name="firstname" #firstname="ngModel" type="text" required placeholder="First Name"
                    [(ngModel)]="registerCredentials.firstname" class="input-field">
                <em class="error" *ngIf="firstname.invalid && firstname.touched">Firstname is required</em>
            </div>
            <div class="input-group">
                <input name="lastname" #lastname="ngModel" required type="text" placeholder="Last Name"
                    [(ngModel)]="registerCredentials.lastname" class="input-field">
                <em class="error" *ngIf="lastname.invalid && lastname.touched">Lastname is required</em>
            </div>
            <div class="input-group">
                <input name="email" #email="ngModel" required type="email" placeholder="Email" [(ngModel)]="registerCredentials.email"
                    class="input-field">
                <em class="error" *ngIf="email.invalid && email.touched">Email is required</em>
            </div>
            <div class="input-group">
                <input name="phonenumber" #phonenumber="ngModel" required type="text" placeholder="Mobile Number"
                    [(ngModel)]="registerCredentials.phonenumber" class="input-field">
                <em class="error" *ngIf="phonenumber.invalid && phonenumber.touched">Phonenumber is required</em>
            </div>
            <div class="input-group">
                <input name="password" #password="ngModel" required type="password" placeholder="Password" [(ngModel)]="registerCredentials.password" class="input-field">
                <em class="error" *ngIf="password.invalid && password.touched">Email is required</em>
            </div>

            <div *ngIf="registerError" class="registerError">{{ registerError }}</div>

            <div *ngIf="registerSuccess" class="registerSuccess">{{ registerSuccess }}</div>

            <div class="button-group">
                <button type="submit" [disabled]="signInForm.form.invalid" class="button-cta">Register</button>
            </div>
        </form>
    </div>
</div>